<div class="container-fluid footer">
    <div class="row">
        <!--  name  -->
        <div class="col-lg-6">
            <h1>EcoIndustrias Green Land
            </h1>
        </div>
        <!--  nav  -->
        <div class="col-lg-4">
            <a routerLink="">Inicio</a>
            <a routerLink="menu">Productos</a>
            <a routerLink="about">Sobre Nosotros</a>
            <a routerLink="contact">Contactanos</a>
        </div>
        <div class="col-lg-2">
            <p>Pagina creada por estudiantes de la Facultad de Informatica Culiacan.</p>
        </div>


    </div>
</div>